<div class="row">
  <div class="col-sm-3">
    <div *ngIf="author" class="card">
      <div class="card-body">
        <div class="card-title">
          <img class="rounded-circle" src="{{author.icon}}">
          <a href="#" class="user-link">{{author.username}}</a>
          <a *ngIf="author.isAdmin == 1" class="admin">管理</a>
          <a class="follow">关注</a>
          <div class="display">
            <p>id:{{author.id}}</p>
            <p>{{author.createdAt}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div #converted [innerHTML]="convertedData">
    </div>
    <div *ngIf="article">
      <hr color="white"/>
      <app-comment [articleId]="article.id"></app-comment>
    </div>
  </div>
</div>
