<form class="col-sm-6 offset-sm-3">
  <div class="form-group">
    <label>用户名：</label>
    <input #username
           type="text"
           class="form-control"
           placeholder="请输入用户名"
           (keyup.enter)="checkUsername(username.value)"
           (blur)="checkUsername(username.value)">
  </div>
  <div *ngIf="!isUsernameRight" class="alert alert-danger">
    <strong>错误!</strong> 用户名应大于四个字符
  </div>
  <div class="form-group">
    <label>密码：</label>
    <input #password
           type="password"
           class="form-control"
           placeholder="请输入密码"
           (keyup.enter)="checkPassword(password.value)"
           (blur)="checkPassword(password.value)">
  </div>
  <div *ngIf="!isPasswordRight" class="alert alert-danger">
    <strong>错误!</strong> 密码应大于六个字符
  </div>
  <div class="form-group">
    <label>请输入验证码：</label>
    <input #verification
           type="text"
           class="form-control col-sm-6"
           placeholder="请输入下方验证码"
           (keyup.enter)="checkVerification(verification.value)"
           (blur)="checkVerification(verification.value)">
    <app-verification #verificationComponent
                      class="col-sm-6"
                      (notify)="onVerificationNotify($event)"></app-verification>
  </div>
  <div *ngIf="!isVerificationRight" class="alert alert-danger">
    <strong>错误!</strong> 验证码应该为四位
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="loginUser(username.value, password.value, verification.value, verificationComponent)">登录</button>
  <a class="float-right register">还没有账号？<a href="/register">注册一个</a></a>
</form>
