.quill-editor-back {
  /*background-color: white;*/
}

/* p标签样式 */
/*quill-editor p {
  color: black;
}

quill-editor p {
  color: black;
}

quill-editor p a {
  color: black;
}

quill-editor h1, h2 {
  color: black;
  font-weight: bold;
}

quill-editor pre {
  background-color: lightgray;
}

quill-editor blockquote {
  background-color: lightgray;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  border-left: 5px solid deepskyblue;
}

quill-editor blockquote p {
  color: dimgray;
}

quill-editor hr {
  clear: both;
  margin: 10px 0;
}

quill-editor ul {
  color: black;
}

quill-editor label {
  color: black;
}*/
