<div class="row">
  <div class="col-sm-8">
    <ul *ngIf="articles">
      <li class="card" *ngFor="let article of articles">
        <div class="card-body">
          <h4 class="card-title"><a href="/article/{{article.id}}"
                                    class="card-link">{{article.title}}</a></h4>
          <p class="card-text">{{article.description}}</p>
          <img class="rounded-circle" src="{{article.icon}}">
          <a href="#" class="user-link">{{article.username}}</a>
          <p>{{article.createdAt}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3 id="label">标签</h3>
    <!-- 标签列表 -->
    <ul id="tags">
      <li><a href="#android">Android</a></li>
      <li><a href="#java">Java</a></li>
      <li><a href="#kotlin">Kotlin</a></li>
      <li><a href="#html">Html</a></li>
      <li><a href="#javaScript">JavaScript</a></li>
      <li><a href="#css">Css</a></li>
      <li><a href="#c#">C#</a></li>
      <li><a href="#c">C</a></li>
      <li><a href="#c++">C++</a></li>
    </ul>
  </div>
</div>
